@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<StudentPortal.Web.Models.Entities.Student>

    <h1>Students</h1>

    <table class="table">
        <thead>
            <tr>
            <td>Id</td>
        
    <td>Name</td>
    <td>Email</td>
    <td></td>
            
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>